<h2>{{i18n `os_notwhat`}}</h2>
<p>{{i18n `os_otherservices`}}</p>

<div class="collapse-wrapper">
<a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#storage" role="button">
    <div class="me-2">{{i18n `storage`}}</div> <i class="fas fa-plus"></i>
</a>
<div class="collapse" id="storage">
    <div class="block">
    {{i18n `storage_block` | safeHTML }}

    </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#computing" role="button">
        <div class="me-2">{{i18n `computing`}}</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="computing">
        <div class="block">
        {{i18n `computing_block` | safeHTML }}
        </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#websites" role="button">
        <div class="me-2">{{i18n `websites`}}</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="websites">
        <div class="block">
        {{i18n `websites_block` | safeHTML }}
        </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#data" role="button">
        <div class="me-2">{{i18n `data`}}</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="data">
        <div class="block">
        {{i18n `data_block` | safeHTML }}
        </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#consultation" role="button">
        <div class="me-2">{{i18n `consult`}}</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="consultation">
        <div class="block">
        {{i18n `consult_block` | safeHTML }}
        </div>
</div>
</div>