<h2>Not exactly what you were looking for?</h2>
<p>Check out our other services:</p>

<div class="collapse-wrapper">
<a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#storage" role="button">
    <div class="me-2">Storage</div> <i class="fas fa-plus"></i>
</a>
<div class="collapse" id="storage">
    <div class="block">
    <p>We are offering a huge variety of storage solutions:</p>
    <li>Do you want something like <strong>Dropbox/Google Drive/OneDrive</strong>? Check out <a href="/easyservices/easystore/" target="_blank">"EasyStore Drive"</a>. </li>
    <li>You are rather looking for an <strong>S3 compatible object storage</strong>? Check out <a href="/easyservices/easystore/" target="_blank">"EasyStore S3"</a>.</li>
    <li>Are you looking for a way to host your own data driven applications? Our managed Kubernetes <a href="/easyservices/easykube/" target="_blank">"EasyKube"</a> or hosting in general <a href="/easyservices/easyhost/" target="_blank">"EasyHost"</a> might be something for you.</li>
    <br>
    Looking for something else? <a href="/contact" target="_blank">Book a free 15-minute consultation</a> to find out more.
    </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#computing" role="button">
        <div class="me-2">Computing</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="computing">
        <div class="block">
        <p>We are offering a huge variety of hosting solutions:</p>
        <li><strong><a href="/easyservices/easyfaas/" target="_blank">"EasyFAAS"</a></strong> allows you to "just run" your code, without worrying about servers, infrastructure and everything. It is a FAAS (function-as-a-service) solution, and therefore the highest infrastructure abstraction that you can get. </li>
        <li>Our managed Kubernetes <strong><a href="/easyservices/easykube/" target="_blank">"EasyKube"</a></strong> helps you to get up and running with Kubernetes in seconds, with domain based routing and persistence by default.</li>
        <li>Are you looking for an individual hosting setup? <strong><a href="/easyservices/easyhost/" target="_blank">"EasyHost"</a></strong> might be something for you.</li>
        <br>
        Looking for something else? <a href="/contact" target="_blank">Book a free 15-minute consultation</a> to find out more.
        </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#websites" role="button">
        <div class="me-2">Websites</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="websites">
        <div class="block">
        <li>Are you looking for a way to <strong>simply host your websites</strong> in a compliant way? <a href="/easyservices/easyhost/" target="_blank">"EasyHost"</a> might be something for you.</li>
        <li>You want to create or adapt a website such that it is faster and converts more? Our static <a href="/easyservices/websites/" target="_blank">"Websites"</a> will help you with this.</li>
        <br>
        Looking for something else? <a href="/contact" target="_blank">Book a free 15-minute consultation</a> to find out more.
        </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#data" role="button">
        <div class="me-2">Data</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="data">
        <div class="block">
        <p>Data Engineering is in our blood. If you are looking for a way to host your machine learning models in a secure and compliant way, then we are you perfect partner.</p>
        <p>You have a lot of data and want to gain new insights? We will be able to create ETL (extract-transform-load) pipelines, host and store unlimited data, create models from it and create visualizations and recommendations for your business.</p>
        <br>
        <a href="/contact" target="_blank">Book a free 15-minute consultation</a> to find out more.
        </div>
</div>
</div>

<div class="collapse-wrapper">
    <a class="d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#consultation" role="button">
        <div class="me-2">consultation & Development</div> <i class="fas fa-plus"></i>
    </a>
    <div class="collapse" id="consultation">
        <div class="block">
        <p>Having a broad knowledge of Cloud, Data and DevOp technologies, we will be able to consult and help you with any project</p>
        <li>Python, Go, Web & React programmers</li>
        <li>ETL pipelines</li>
        <li>SQL & NoSQL experts</li>
        <li>Kubernetes</li>
        <li>Docker</li>
        <li>Cloud</li>
        <li>Strategies and Business Decisions</li>
        <br>
        <a href="/contact" target="_blank">Book a free 15-minute consultation</a> to get an individual offer.
        </div>
</div>
</div>