<section class="section" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          <!-- <center>
            <img style="width:250px" loading="lazy" decoding="async" class="img-fluid" src="images/logos/{{ .Title }}.png" alt="{{ .Title }}">
          </center> -->
          {{.Content}}

          {{ partial "support.html" . }}

          {{ partial "otherservices.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>